<div [ngSwitch]="emailSection">
  <div *ngSwitchCase="true">
    <div class="modal-header">
      <div class="width-100">
        <h4 class="modal-title text-center mt-4" id="modal-basic-title">{{ 'login.loginText' | cxTranslate }}</h4>    
        <div class="text-center mt-2">{{ 'login.loginDiscription' | cxTranslate }}</div>
      </div>
    </div>
    <div class="modal-body">
      <form name="form" [formGroup]="addNotifyForm">
        <div class="form-group">
          <input class="form-control mt-4" type="text" formControlName="email" placeholder="{{ 'login.email' | cxTranslate }}">
          <input class="form-control mt-4" type="password" formControlName="password" placeholder="{{ 'login.password' | cxTranslate }}">
          <a class="float-right link-text mt-2 mb-2">{{ 'login.forgotPassword' | cxTranslate }}</a>
          <button type="button" (click)="onSubmit()" class="btn btn-secondary btn-lg btn-block mt-4"
          [disabled]="addNotifyForm.invalid">{{ 'login.loginText' | cxTranslate }}</button>
          <div class="text-center mt-4">{{ 'login.helpText' | cxTranslate }} <a class="link-text">{{ 'login.signup' | cxTranslate }}</a></div>
        </div>
      </form>
    </div>
  </div>
  <div *ngSwitchCase="false">
    <div class="modal-header">
      <div class="width-100">
        <h4 class="modal-title text-center mt-4" id="modal-basic-title">{{ 'login.manageNotifications' | cxTranslate }}</h4>    
        <div class="text-center mt-2">{{ 'login.loginDiscription' | cxTranslate }}</div>
      </div>
    </div>
    <div class="modal-body">
      <form name="form" [formGroup]="manageNotifyForm">
        <div class="form-group">
          <h4 class="modal-title mt-4" id="modal-basic-title">{{ 'login.smsNotifications' | cxTranslate }}</h4>    
          <div class="mt-2">{{ 'login.smsNotificationHelpText' | cxTranslate }}</div>
          <input type="number" class="form-control mt-4" formControlName="mobileNo" placeholder="{{ 'login.mobileNo' | cxTranslate }}">
          <div *ngIf="manageNotifyForm.touched && manageNotifyForm.invalid">  
            <div *ngIf="manageNotifyForm.controls.mobileNo.errors?.required" class="error">{{ 'login.mobileNoRequired' | cxTranslate }}</div>  
            <div *ngIf="manageNotifyForm.controls.mobileNo.errors?.pattern" class="error">{{ 'login.MobileNoNotValid' | cxTranslate }}</div>  
        </div>  
          <button type="button" (click)="onNotifySubmit()" class="btn btn-secondary btn-lg btn-block mt-4"
          [disabled]="manageNotifyForm.invalid">{{ 'login.notifyMe' | cxTranslate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
